
/*
* {
    border: 1px solid black;
}

*/

html {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.heading {
    padding: 2px 10px;
    }

.haile_title {
    display: inline;
    position: relative;
    bottom: 15px;
}


.nav {
    float: right;
}

li {
    text-align: center;
    float: left;
    padding: 5px 10px;
    list-style-type: none;
    font-size: 20px;
}

li a {
    text-decoration: none;
    color: black;
}


.main {
    position: relative;
    width: 100;
    text-align: center;
}

.mainlogo {
    opacity: .3;
    width: 100%;
}

.mainhead {
   position: absolute;
   top: 20%;
   bottom: 60%;
   width: 100%;
   font-size: 3rem;
     
}

.main p {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    font-size: 2rem;
    z-index: -1;
    
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    
}

.jobs {
    width: 90%;
    margin: auto;
    
  
}



.text  {
    width: 30%;
    margin: auto;
}

.table tr {
    display: flex;
    flex-flow: row;
   
   
    
}

table img {
    float: left;
    padding-right: 20px;
    padding-top: 25px;
    margin-bottom: 20%;
}

table td {
    
}






@media  screen and (max-width: 800px) {

    .mainhead {
        font-size: 2rem;
    }

    .main p {
        font-size: 1rem;
    }
    
}

@media  screen and (max-width: 600px) {

    .mainhead {
        font-size: 1rem;
    }

    .main p {
        font-size: 0.5rem;
    }
    
}

@media screen and (max-width: 1000px){



   
}


@media  screen  and (max-width: 1100px) {

    .nav {
        display: none;
    }

    .table tr {
        flex: column;
        flex-flow: column;
        margin: auto;
        
    }

    .table {
        width: 80%;
        margin: auto;
        
    }

    .table tr, .table td {
        width: 100%;
    }

    table td {
        height: 140px;
    }

    table img {
        width: 30px;
        margin-bottom: 50%;
    }

    table p {
        font-size: 12px;
    }

    table p {
        line-height: 1.5;
    }

    .haile_title {
        display: none;

    }
    
    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
    }

    .hamburger a:hover {
        background-color: #ddd;
        color: black;
      }


   
}

@media screen and (min-width: 400px) {
    table p {
        font-size: 16px;
    }
}

@media  screen and (min-width: 700px) {

    table p {
        font-size: 20px;
    }
    
}
      

@media screen and (min-width: 1100px){
    .hamburger{
        display: none;
    }
}

